{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
<div class="container">
    <div class="card" style="padding: 15px; margin-top: 40px">
        <div class="center"> 
            <div class="material-icons" style="font-size: 5em; margin-top: -50px">account_circle</div>
        </div>

        {{ form_start(registrationForm) }}
        {{ form_widget(registrationForm) }}

        <button type="submit" class="btn">Register</button>
        {{ form_end(registrationForm) }}
        <div class="center"> 
            <a class="btn orange" href="{{ path('app_login') }}">Connexion</a>
        </div>
    </div>
</div>
{% endblock %}