<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="http://localhost:3000/main.jsx" type="module" defer></script>
    <title>Document</title>
    <script>
        window.__vite_plugin_react_preamble_installed__=true
    </script>
    
</head>
<body>
    React
    <div id="root"></div>
</body>
</html>