{% extends 'blank.admin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary mb-2" data-toggle="modal" data-target="#exampleModal">
    Ajouter un article
  </button>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ form_start(form) }}
          {{ form_widget(form) }}
          <button type="submit" href="#" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-paper-plane"></i>
            </span>
            <span class="text">Enregistrer</span>
        </button>
          {{ form_end(form) }}
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<div class="row">
    {% include "admincarditems.html.twig" %}  
</div>
<div class="navigation">
    {{ knp_pagination_render(articles) }}
</div>
{% endblock %}