
  {% for formation in formations %}
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <a href="#"><img class="card-img-top" src="{{ asset(formation.poster) }}" alt="{{ formation.titre }}"></a>
      <div class="card-body">
        <h4 class="card-title">
          <a href="{{ path('formation_view',{id:formation.id}) }}">{{ formation.titre }}</a>
        </h4>
        <p class="card-text">
          {% if formation.description |length >70 %}
          {{ formation.description |slice(0, 70)}} ...
          {% else %}
          {{ formation.description}}
          {% endif %}
          
        </p>
      </div>
      <div class="card-footer">
        <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
      </div>
    </div>
  </div>
      
  {% endfor %}