{% extends "base.html.twig" %}
{% block title %}
    {{ formation.titre }}
{% endblock %}
{% block body %}
<div class="card">
    <div class="card-img-top">
        {% if formation.media.type == "video" %}
        <video controls src="{{ asset(formation.media.path) }}" class="mw420"></video>   
    {% else %}
        <img class="mw420" src="{{ asset(formation.media.path) }}" alt="{{ formation.titre }}" srcset="">
    {% endif %}
    </div>
    <div class="card-body">
        <div class="card-title">
           <h4>
            {{ formation.titre }}
           </h4>
        </div>
        <div class="card-text">
            {{ formation.description }}
        </div>
        <a href="#" class="btn btn-primary mt-2" data-toggle="modal" data-target="#exampleModal">Participer</a>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            <p>
                {{ form_start(form) }}
                    {{ form_widget(form) }}
                    <button type="submit" class="btn btn-primary btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fa fa-paper-plane"></i>
                        </span>
                        <span class="text">Envoyer</span>
                    </button>
                {{ form_end(form) }}
            </p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}