{% extends 'base.html.twig' %}

{% block title %}Hello ContactController!{% endblock %}

{% block body %}
<div class="card mt-3">
    <div class="card-body">
        {% trans %} Bienvenue chez DONGROH. Ce formulaire de contact Vous est reserver pour toute preocupation qu'il
        s'agis d'une remarque ou d'une demande de service customisé votre plaisir est la notre {% endtrans %}
    </div>
</div>
<div class="card mt-3 mb-3">
    <div class="card-body">
        {{ form_start(form)}}
        {{ form_widget(form)}}
        <button type="submit" href="#" class="btn btn-primary btn-icon-split">
            <span class="icon text-white-50">
                <i class="fas fa-paper-plane"></i>
            </span>
            <span class="text">Envoyer</span>
        </button>
        {{ form_end(form)}}
    </div>
</div>
{% endblock %}