{% for article in articles %}
<div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
        <a href="#"><img class="card-img-top" src="{{ asset(article.photo) }}" alt="{{ article.titre }}"></a>
        <div class="card-body">
            <h4 class="card-title">
                <a href="{{ path('more',{id:article.id}) }}">{{ article.titre }}</a>
            </h4>
            <h5>{{ article.prix |number_format(0,'.',' ') }} FCFA</h5>
            <p class="card-text">
                {% if article.description |length >70 %}
                {{ article.description |slice(0, 70)}} ...
                {% else %}
                {{ article.description}}
                {% endif %}

            </p>
        </div>
        <div class="card-footer">
            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
            <small class="text-muted text-primary-100"><i class="fas fa-fw fa-eye"></i></small>
        </div>
    </div>
</div>

{% endfor %}