<!DOCTYPE html>
<html>

<head>
	<script type="text/javascript" src="{{ asset('js/turbolinks.js') }}"></script>
	<!--Import Google Icon Font-->
	<link href="{{ asset('css/font.css') }}" rel="stylesheet">
	<!--Import materialize.css-->
	<link type="text/css" rel="stylesheet" href="{{ asset('css/materialize.min.css') }}" media="screen,projection" />
	<!--Let browser know website is optimized for mobile-->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<link rel="stylesheet" href="{{ asset('css/base.css') }}" media="screen,projection">
	<meta charset="utf-8" />
	<scripttype="text /javascript" src="{{ asset('js/jquery.js') }}">
		</script>
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block link %}{% endblock %}
		{% block css %}{% endblock %}
</head>

<body>
	<header>
		{% block header %}
		{% include "sidenave.html.twig" %}
		{% endblock %}
	</header>
	<main>
		{% block body %}{% endblock %}
	</main>
	<footer>
		{% block footer %}{% endblock %}
	</footer>
	<!--JavaScript at end of body for optimized loading-->
	<script type="text/javascript" src="{{ asset('js/materialize.min.js') }}"></script>
	<script type="text/javascript">
		M.AutoInit();

		{% for mess in app.flashes('succes') %}
			M.toast({ html: '{{ mess }}' })
		{% endfor %}

		{% for flashError in app.flashes('verify_email_error') %}
			M.toast({html: '<span>{{ flashError }}</span><button class="btn-flat toast-action">Undo</button>'});
		{% endfor %}
	</script>
	{% block js %}{% endblock %}
	{% block script %}{% endblock %}


</body>

</html>