{% extends "blank.admin.html.twig" %}

{% block body %}
<div class="card">
    <div class="card-body">
        <div class="card-title">
            <i class="fa fa-poll-h"></i>
            Description
        </div>
        <div class="card-text">
            Tous les demande de contact ou de services custome
        </div>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <div class="card-text">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Status</th>
                        <th>Email</th>
                        <th>Sujet</th>
                        <th>Message</th>
                        <th>Action</th>
                    </tr>
                </thead>

                <tbody>
                    {% for ct in contacts %}
                    <tr>
                        <td>{% if ct.isRead %}
                            <i class="fas fa-eye"></i>
                            {% else %}
                            <i class="fas fa-eye-slash"></i>
                        {% endif %}</td>
                        <td>{{ct.email}}</td>
                        <td>{{ct.sujet}}</td>
                        <td>
                            {% if ct.message|length > 50 %}
                                {{ct.message |slice(0, 50 )}} ...
                                {% else %}
                                {{ct.message}}
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('admin_contact_remove',{'id':ct.id}) }}" class="btn btn-danger btn-circle"
                                id="delete"><i class="fa fa-trash"></i></a>
                        <a href="{{ path('admin_contact_view',{'id':ct.id}) }}" class="btn btn-primary btn-circle "><i
                                class="fa fa-eye"></i></a>
                        </td>
                        {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}