{% extends "blank.admin.html.twig" %}

{% block body %}
<div class="card">
    <div class="card-body">
        <div class="card-title">
          <b>Email</b> : {{ contact.email }} <br>
          <b>Objet</b> :  {{ contact.sujet}}

        </div>
        <p>
            <b>Message :</b> <br>
            {{ contact.message}}
        </p>
    </div>
</div>
{% endblock %}